# Testing the Efficacy of Airbnb's 90 Day Limit on Entire Home Listings

**Research Question:** Did the imposition of the 90 day limit reduce the growth rate in proportion of entire home listings over 90 days in comparison to single rooms?

**H0:** there is no difference in the change in proportion of entire home listings exceeding 90 days compared to single room listings after the imposition of the 90-day limit.

**HA:** there is a difference in the change in proportion of entire home listings exceeding 90 days compared to single room listings after the imposition of the 90-day limit.

The policy was introduced in Jan 2017, so I will test for differences in proportions between 2016 and 2017. There is, however, a possibility of a time lag, which means different years may yield different results.

As this notebook aims to be reproducible and we are getting close to submission time, I'm not going to keep record of any QAing/data exploration - I'll only keep things which I think might make it into the final document.

In [45]:
#Loading packages
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt 
import os
import datetime as dt
import seaborn as sns
import duckdb as db
import statsmodels.api as sm
from requests import get
from urllib.parse import urlparse
from functools import wraps
print(os.getcwd())

/home/jovyan/work/CASA0013 - Foundations of Spatial Data Science/New Repo/CASA0013_FSDS_Airbnb-data-analytics/Documentation

## 1. Data Processing

### 1.1 Review Data

In [46]:
#Our Github has run out of storage so we cannot upload the data here
#Instead I will use Jon's code to download the June 2024 reviews from his website and save it locally

url  = 'https://orca.casa.ucl.ac.uk/~jreades/data/20240614-London-reviews.csv.gz'

def check_cache(f):
    @wraps(f)
    def wrapper(src, dst, min_size=100):
        url = urlparse(src) # We assume that this is some kind of valid URL 
        fn  = os.path.split(url.path)[-1] # Extract the filename
        dsn = os.path.join(dst,fn) #Â Destination filename
        if os.path.isfile(dsn) and os.path.getsize(dsn) > min_size:
            print(f"+ {dsn} found locally!")
            return(dsn)
        else:
            print(f"+ {dsn} not found, downloading!")
            return(f(src, dsn))
    return wrapper

@check_cache
def cache_data(src:str, dst:str) -> str:
    """Downloads a remote file.
    
    The function sits between the 'read' step of a pandas or geopandas
    data frame and downloading the file from a remote location. The idea
    is that it will save it locally so that you don't need to remember to
    do so yourself. Subsequent re-reads of the file will return instantly
    rather than downloading the entire file for a second or n-th itme.
    
    Parameters
    ----------
    src : str
        The remote *source* for the file, any valid URL should work.
    dst : str
        The *destination* location to save the downloaded file.
        
    Returns
    -------
    str
        A string representing the local location of the file.
    """

    # Convert the path back into a list (without)
    # the filename -- we need to check that directories
    # exist first.
    path = os.path.split(dst)[0]
    print(f"Path: {path}")
      
    # Create any missing directories in dest(ination) path
    # -- os.path.join is the reverse of split (as you saw above)
    # but it doesn't work with lists... so I had to google how
    # to use the 'splat' operator! os.makedirs creates missing
    # directories in a path automatically.
    if path != '':
        os.makedirs(path, exist_ok=True)
        
    # Download and write the file
    with open(dst, "wb") as file:
        response = get(src)
        file.write(response.content)
        
    print(' + Done downloading...')

    return dst

ddir = os.path.join('Documentation','data', 'raw') # destination directory
path  = cache_data(url, ddir)
reviews = pd.read_csv(path, compression='gzip')

+ Documentation/data/raw/20240614-London-reviews.csv.gz found locally!

In [47]:
reviews.head() #Loaded successfully

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,13913,80770,2010-08-18,177109,Michael,My girlfriend and I hadn't known Alina before ...
1,13913,367568,2011-07-11,19835707,Mathias,Alina was a really good host. The flat is clea...
2,13913,529579,2011-09-13,1110304,Kristin,Alina is an amazing host. She made me feel rig...
3,13913,595481,2011-10-03,1216358,Camilla,"Alina's place is so nice, the room is big and ..."
4,13913,612947,2011-10-09,490840,Jorik,"Nice location in Islington area, good for shor..."

In [48]:
#Changing date data type
reviews["date"] = pd.to_datetime(reviews["date"], format="%Y-%m-%d")

In [49]:
#Filtering to only 2016 and 2017 data
reviews['year'] = reviews['date'].dt.year
reviews = reviews[
        (reviews.year==2016) |
        (reviews.year==2017)]

In [50]:
#Dropping unnecessary columns
reviews.drop(columns = ["id", "date", "reviewer_name", "reviewer_id", "comments"], inplace=True)

### 1.2 Listing Data

In [51]:
listings = pd.read_csv("data/raw/listings.csv.gz")
listings.head() #Loaded successfully

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20240906025501,2024-09-06,city scrape,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,...,4.84,4.72,4.72,NaN,f,3,2,1,0,0.26
1,15400,https://www.airbnb.com/rooms/15400,20240906025501,2024-09-07,city scrape,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,...,4.84,4.93,4.75,NaN,f,1,1,0,0,0.54
2,17402,https://www.airbnb.com/rooms/17402,20240906025501,2024-09-07,city scrape,Fab 3-Bed/2 Bath & Wifi: Trendy W1,"You'll have a great time in this beautiful, cl...","Fitzrovia is a very desirable trendy, arty and...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,...,4.72,4.89,4.61,NaN,f,6,6,0,0,0.34
3,24328,https://www.airbnb.com/rooms/24328,20240906025501,2024-09-07,city scrape,"Battersea live/work artist house, garden & par...","Artist house, bright high ceiling rooms for bo...","- Battersea is a quiet family area, easy acces...",https://a0.muscache.com/pictures/9194b40f-c627...,41759,...,4.93,4.59,4.65,NaN,f,1,1,0,0,0.56
4,33332,https://www.airbnb.com/rooms/33332,20240906025501,2024-09-06,city scrape,Beautiful Ensuite Richmond-upon-Thames borough,"Walking distance to Twickenham Stadium, 35 min...",Peaceful and friendly.,https://a0.muscache.com/pictures/miso/Hosting-...,144444,...,4.50,4.67,4.22,NaN,f,2,0,2,0,0.11

In [52]:
listings = listings[["id", "host_id", "room_type", "minimum_nights"]]

In [53]:
listings.head()

      id  host_id        room_type  minimum_nights
0  13913    54730     Private room               1
1  15400    60302  Entire home/apt               4
2  17402    67564  Entire home/apt               3
3  24328    41759  Entire home/apt               2
4  33332   144444     Private room               2

### 1.3 Join Tables and Calculate Occupancy Metric

Using Wang et al. (2024) occupancy estimation:
1. Count reviews per listing per year
2. Divide by 0.5 (assume that 1 in 2 stays results in a review)
3. Join to the listings dataset
4. Estimate stay length: either 3 days or minimum nights, whichever is larger
5. Multiply this by review rate
6. Cap at 21 nights per month (252) - *although technically 2016 was a leap year*

Finally, work out whether a listing had estimated over 90 nights or not

In [54]:
#Step 1: count reviews per listing per year
reviews_annual = reviews.groupby(['listing_id', 'year']).size().unstack(fill_value=0)
reviews_annual.rename(columns={2016: 'reviews_2016', 2017: 'reviews_2017'}, inplace=True)
reviews_annual = reviews_annual.reset_index()
reviews_annual.columns.name = None

reviews_annual.head()

   listing_id  reviews_2016  reviews_2017
0       13913             1             1
1       15400            15             7
2       24328            12             0
3       36299             8             7
4       36660            52            63

In [55]:
#Step 2: divide each year by 0.5 (assume that 1 in 2 stays results in a review)
reviews_annual['reviews_2016_adjusted'] = reviews_annual.reviews_2016/0.5
reviews_annual['reviews_2017_adjusted'] = reviews_annual.reviews_2017/0.5

reviews_annual.head()

,listing_id,reviews_2016,reviews_2017,reviews_2016_adjusted,reviews_2017_adjusted
0,13913,1,1,2.0,2.0
1,15400,15,7,30.0,14.0
2,24328,12,0,24.0,0.0
3,36299,8,7,16.0,14.0
4,36660,52,63,104.0,126.0

In [56]:
#Step 3: join to the listings dataset


reviews_annual = reviews_annual.merge(listings, how='left', left_on='listing_id', right_on='id').drop(columns = ['id'])
reviews_annual.head()

,listing_id,reviews_2016,reviews_2017,reviews_2016_adjusted,reviews_2017_adjusted,host_id,room_type,minimum_nights
0,13913,1,1,2.0,2.0,54730.0,Private room,1.0
1,15400,15,7,30.0,14.0,60302.0,Entire home/apt,4.0
2,24328,12,0,24.0,0.0,41759.0,Entire home/apt,2.0
3,36299,8,7,16.0,14.0,155938.0,Entire home/apt,3.0
4,36660,52,63,104.0,126.0,157884.0,Private room,2.0

In [58]:
#Checking for nulls
cols_to_check = ["host_id", "room_type", "minimum_nights"]

for col in cols_to_check:
    if reviews_annual[col].isna().sum() == 0:
        print(f'{col}: No nulls')
    else:
        print(f'{col}: Contains nulls')

host_id: Contains nulls
room_type: Contains nulls
minimum_nights: Contains nulls

In [60]:
reviews_annual.info()

#11966/12566 joined correctly - 95% present
#A limitation (and potential bias), but not a lot we can do!

#I could look at 2016 file if time, but this might not include 2017 data

reviews_annual.dropna(subset=['room_type'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12556 entries, 0 to 12555
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   listing_id             12556 non-null  int64
 1   reviews_2016           12556 non-null  int64
 2   reviews_2017           12556 non-null  int64
 3   reviews_2016_adjusted  12556 non-null  float64
 4   reviews_2017_adjusted  12556 non-null  float64
 5   host_id                11966 non-null  float64
 6   room_type              11966 non-null  object
 7   minimum_nights         11966 non-null  float64
dtypes: float64(4), int64(3), object(1)
memory usage: 784.9+ KB

In [61]:
reviews_annual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11966 entries, 0 to 12555
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   listing_id             11966 non-null  int64
 1   reviews_2016           11966 non-null  int64
 2   reviews_2017           11966 non-null  int64
 3   reviews_2016_adjusted  11966 non-null  float64
 4   reviews_2017_adjusted  11966 non-null  float64
 5   host_id                11966 non-null  float64
 6   room_type              11966 non-null  object
 7   minimum_nights         11966 non-null  float64
dtypes: float64(4), int64(3), object(1)
memory usage: 841.4+ KB

In [62]:
#Step 4: calculating estimated nights column: greater of either 3 or minimum nights
reviews_annual['estimated_stay'] = np.maximum(3, reviews_annual.minimum_nights)

reviews_annual.head()

,listing_id,reviews_2016,reviews_2017,reviews_2016_adjusted,reviews_2017_adjusted,host_id,room_type,minimum_nights,estimated_stay
0,13913,1,1,2.0,2.0,54730.0,Private room,1.0,3.0
1,15400,15,7,30.0,14.0,60302.0,Entire home/apt,4.0,4.0
2,24328,12,0,24.0,0.0,41759.0,Entire home/apt,2.0,3.0
3,36299,8,7,16.0,14.0,155938.0,Entire home/apt,3.0,3.0
4,36660,52,63,104.0,126.0,157884.0,Private room,2.0,3.0

In [63]:
#Step 5: estimate occupied nights for each year by multiplying the adjusted review rate by the estimated stay duration
#n.b. this assumes that the minimum nights has not changed over time

reviews_annual['estimated_nights2016'] = reviews_annual['reviews_2016_adjusted'] * reviews_annual.estimated_stay
reviews_annual['estimated_nights2017'] = reviews_annual['reviews_2017_adjusted'] * reviews_annual.estimated_stay

reviews_annual.head()

,listing_id,reviews_2016,reviews_2017,reviews_2016_adjusted,reviews_2017_adjusted,host_id,room_type,minimum_nights,estimated_stay,estimated_nights2016,estimated_nights2017
0,13913,1,1,2.0,2.0,54730.0,Private room,1.0,3.0,6.0,6.0
1,15400,15,7,30.0,14.0,60302.0,Entire home/apt,4.0,4.0,120.0,56.0
2,24328,12,0,24.0,0.0,41759.0,Entire home/apt,2.0,3.0,72.0,0.0
3,36299,8,7,16.0,14.0,155938.0,Entire home/apt,3.0,3.0,48.0,42.0
4,36660,52,63,104.0,126.0,157884.0,Private room,2.0,3.0,312.0,378.0

In [64]:
#Step 6: cap at 21 days per month
cap_nights = 12*21 #not changing for a leap year as 1/365 is only 0.002...
reviews_annual['estimated_nights2016_capped'] = np.minimum(cap_nights, reviews_annual['estimated_nights2016'])
reviews_annual['estimated_nights2017_capped'] = np.minimum(cap_nights, reviews_annual['estimated_nights2017'])

reviews_annual.head()

,listing_id,reviews_2016,reviews_2017,reviews_2016_adjusted,reviews_2017_adjusted,host_id,room_type,minimum_nights,estimated_stay,estimated_nights2016,estimated_nights2017,estimated_nights2016_capped,estimated_nights2017_capped
0,13913,1,1,2.0,2.0,54730.0,Private room,1.0,3.0,6.0,6.0,6.0,6.0
1,15400,15,7,30.0,14.0,60302.0,Entire home/apt,4.0,4.0,120.0,56.0,120.0,56.0
2,24328,12,0,24.0,0.0,41759.0,Entire home/apt,2.0,3.0,72.0,0.0,72.0,0.0
3,36299,8,7,16.0,14.0,155938.0,Entire home/apt,3.0,3.0,48.0,42.0,48.0,42.0
4,36660,52,63,104.0,126.0,157884.0,Private room,2.0,3.0,312.0,378.0,252.0,252.0

In [65]:
#Calculating final table: whether a listing had True or False for over 90 days, and aggregated by room type
#Only looking at room type for now connected to research question, but I have the host column in there to check for superhosts if necessary

#Getting number of over 90s and totals for each category, as this is what the statistical test requires

db.register('reviews_annual', reviews_annual)

query = '''
       WITH listings_90 AS (
            SELECT 
            listing_id,
            CASE WHEN room_type = 'Entire home/apt' THEN 'Entire Home' ELSE 'Other' END AS room_type,
            CASE WHEN estimated_nights2016_capped >= 90 THEN 1 ELSE 0 END AS over90_2016,
            CASE WHEN estimated_nights2016_capped BETWEEN 1 AND 90 THEN 1 ELSE 0 END AS under90_2016,
            CASE WHEN estimated_nights2017_capped >= 90 THEN 1 ELSE 0 END AS over90_2017,
            CASE WHEN estimated_nights2017_capped BETWEEN 1 AND 90 THEN 1 ELSE 0 END AS under90_2017
        FROM reviews_annual)
    SELECT
        room_type,
        SUM(over90_2016) AS over90_2016,
        SUM(over90_2016) + SUM(under90_2016) AS total_2016,
        SUM(over90_2017) AS over90_2017,
        SUM(over90_2017)+SUM(under90_2017) AS total_2017
    FROM listings_90
    GROUP BY 1
'''

proportions_room = db.sql(query).to_df()
proportions_room.head()

     room_type  over90_2016  total_2016  over90_2017  total_2017
0  Entire Home       1132.0      3937.0       1539.0      5893.0
1        Other        908.0      2950.0       1444.0      4341.0

In [72]:
#Calculating final table: whether a listing had True or False for over 90 days, and aggregated by host type
#The below calculation is not ideal as a host might have become a Superhost later

#Getting number of over 90s and totals for each category, as this is what the statistical test requires

query2 = '''
       WITH host_type AS (
       SELECT 
           host_id,
           CASE WHEN COUNT(*)>1 THEN 'Multi-Listing Host' ELSE 'Single Property Host' END AS host_type           
       FROM reviews_annual
       GROUP BY 1),
       
       listings_90 AS (
            SELECT 
            r.listing_id,
            h.host_type,
            CASE WHEN r.estimated_nights2016_capped >= 90 THEN 1 ELSE 0 END AS over90_2016,
            CASE WHEN r.estimated_nights2016_capped BETWEEN 1 AND 90 THEN 1 ELSE 0 END AS under90_2016,
            CASE WHEN r.estimated_nights2017_capped >= 90 THEN 1 ELSE 0 END AS over90_2017,
            CASE WHEN r.estimated_nights2017_capped BETWEEN 1 AND 90 THEN 1 ELSE 0 END AS under90_2017
        FROM reviews_annual r
            LEFT JOIN host_type h
                ON r.host_id=h.host_id)
        
    SELECT
        host_type,
        SUM(over90_2016) AS over90_2016,
        SUM(over90_2016) + SUM(under90_2016) AS total_2016,
        SUM(over90_2017) AS over90_2017,
        SUM(over90_2017)+SUM(under90_2017) AS total_2017
    FROM listings_90
    GROUP BY 1
'''

proportions_host = db.sql(query2).to_df()
proportions_host.head()

              host_type  over90_2016  total_2016  over90_2017  total_2017
0    Multi-Listing Host        760.0      1821.0       1175.0      3118.0
1  Single Property Host       1280.0      5066.0       1808.0      7116.0

## 2. Statistical Tests

### 2.1. Room Type Change

In [67]:
#Brief proportions
db.register('proportions_room', proportions_room)

query3 = '''
        SELECT room_type,
               ROUND(100 * over90_2016/total_2016, 2) AS pct_90_2016,
               ROUND(100 * over90_2017/total_2017, 2) AS pct_90_2017
        FROM proportions_room
        '''
room_proportions = db.sql(query3).to_df()
room_proportions.head()

     room_type  pct_90_2016  pct_90_2017
0  Entire Home        28.75        26.12
1        Other        30.78        33.26

In [68]:
#Conducting a two proportion z-test for proportions of property types above and below 90 days in 2016 and 2017
#Room type is independent and sample size is over 10 for each category
#https://www.statsmodels.org/dev/generated/statsmodels.stats.proportion.proportions_ztest.html

#H0: there is no difference in the proportion of properties estimated over 90 days for each room type.
#H1: there is a difference in the proportion of properties estimated over 90 days for each room type.

#Entire Home z-test
count_eh = [proportions_room[proportions_room.room_type=='Entire Home'].over90_2016,
               proportions_room[proportions_room.room_type=='Entire Home'].over90_2017]
nobs_eh = [proportions_room[proportions_room.room_type=='Entire Home'].total_2016,
              proportions_room[proportions_room.room_type=='Entire Home'].total_2017]

z_eh, p_eh = sm.stats.proportions_ztest(count_eh, nobs_eh)

#Other z-test
count_other = [proportions_room[proportions_room.room_type=='Other'].over90_2016,
               proportions_room[proportions_room.room_type=='Other'].over90_2017]
nobs_other = [proportions_room[proportions_room.room_type=='Other'].total_2016,
              proportions_room[proportions_room.room_type=='Other'].total_2017]

z_other, p_other = sm.stats.proportions_ztest(count_other, nobs_other)

print(f"Z-statistic for 'Other' room type: {z_other}, P-value: {p_other}")
print(f"Z-statistic for 'Entire Home' room type: {z_eh}, P-value: {p_eh}")

#Reject H0 for both
# Entire Home decrease is statistically significant at the 95% level
# Other increase is statistically significant at the 99% level

Z-statistic for 'Other' room type: [-2.2274678], P-value: [0.02591603]
Z-statistic for 'Entire Home' room type: [2.88002066], P-value: [0.00397649]

### 2.2 Superhost Change

n.b. Problems with the data joining mean we may not have an accurate representation of which hosts were superhosts and which weren't, as approx. 5% of listings weren't able to be joined

In [73]:
#Brief proportions
db.register('proportions_host', proportions_host)

query4 = '''
        SELECT host_type,
               ROUND(100 * over90_2016/total_2016, 2) AS pct_90_2016,
               ROUND(100 * over90_2017/total_2017, 2) AS pct_90_2017
        FROM proportions_host
        '''
host_proportions = db.sql(query4).to_df()
host_proportions.head()

              host_type  pct_90_2016  pct_90_2017
0    Multi-Listing Host        41.74        37.68
1  Single Property Host        25.27        25.41

In [74]:
#H0: there is no difference in the proportion of properties estimated over 90 days for each host type.
#H1: there is a difference in the proportion of properties estimated over 90 days for each host type.

#Superhost z-test
count_m = [proportions_host[proportions_host.host_type=='Multi-Listing Host'].over90_2016,
               proportions_host[proportions_host.host_type=='Multi-Listing Host'].over90_2017]
nobs_m = [proportions_host[proportions_host.host_type=='Multi-Listing Host'].total_2016,
              proportions_host[proportions_host.host_type=='Multi-Listing Host'].total_2017]

z_m, p_m = sm.stats.proportions_ztest(count_sup, nobs_sup)

#Single property host z-test
count_s = [proportions_host[proportions_host.host_type=='Single Property Host'].over90_2016,
               proportions_host[proportions_host.host_type=='Single Property Host'].over90_2017]
nobs_s = [proportions_host[proportions_host.host_type=='Single Property Host'].total_2016,
              proportions_host[proportions_host.host_type=='Single Property Host'].total_2017]

z_s, p_s = sm.stats.proportions_ztest(count_sing, nobs_sing)

print(f"Z-statistic for Multi-Listing Hosts: {z_sup}, P-value: {p_sup}")
print(f"Z-statistic for Single Property Hosts: {z_sing}, P-value: {p_sing}")

# Multi-listing host decrease is statistically significant at the 99% level - reject H0
# Single property host had no statistically significant change - accept H0

Z-statistic for Multi-Listing Hosts: [2.81367099], P-value: [0.00489793]
Z-statistic for Single Property Hosts: [-0.17638697], P-value: [0.85998994]

In [75]:
# Another statistical test needed! Difference in proportion/count of multiple-listing hosts between 2016-2017 - have people switched?

#Or increase in the NUMBER of properties each host had - paired sample t-test?

#What are figures like now? What proportion of figures over last 12 months?

## 3. Difference in Differences

Points to talk about:
- identifying duplicates?
- very high proportion over 90 days, when it shouldn't be possible